name: weather_app
description: A Flutter Weather App
publish_to: "none"

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0
  provider: ^6.0.0
  shared_preferences: ^2.1.0
  intl: ^0.18.0
  flutter_svg: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  
  assets:
   - assets/